<p style="color: green"><%= notice %></p>

<%= render @movie %>
<div>
<%= link_to "View Shows", movie_shows_path(@movie), class: "btn btn-info" %>
</div>
<div>
  <%= link_to "Back to movies", movies_path %> |
  <% if current_user&.is_admin %>
    <%= link_to "Edit", edit_movie_path(@movie), class: "btn btn-warning" %> |
    <%= button_to "Destroy this show", movie_path(@movie), method: :delete %>
  <% end %>
</div>
