<h2>Edit Profile</h2>

<% if flash[:alert] %>
  <p style="color: red;"><%= flash[:alert] %></p>
<% end %>

<%= form_with model: @user, local: true do |form| %>
  
  <% if @user.is_admin? %>
    <!-- Admins Can Only Edit Name and Email-->
    <p><strong>Username:</strong> <%= @user.username %> (Cannot be changed)</p>

    <div>
      <%= form.label :name %>
      <%= form.text_field :name, required: true %>
    </div>
    <div>
    <%= form.label :email %>
    <%= form.text_field :email, required: true %>
    </div>

  <% else %>
    <!-- Regular Users Can Edit Everything -->
    <div>
      <%= form.label :username %>
      <%= form.text_field :username, required: true %>
    </div>

    <div>
      <%= form.label :name %>
      <%= form.text_field :name, required: true %>
    </div>

    <div>
      <%= form.label :email %>
      <%= form.email_field :email, required: true %>
    </div>

    <div>
      <%= form.label :password %>
      <%= form.password_field :password %>
    </div>

    <div>
      <%= form.label :phone %>
      <%= form.telephone_field :phone %>
    </div>

    <div>
      <%= form.label :address %>
      <%= form.text_area :address %>
    </div>

    <div>
      <%= form.label :credit_card_info %>
      <%= form.text_field :credit_card_info %>
    </div>

  <% end %>

  <div>
    <%= form.submit "Save Changes" %>
  </div>
<% end %>

<%= link_to "Cancel", user_path(@user) %>
