<h2>Sign Up</h2>

<%= form_with model: @user, url: signup_path, method: :post do |form| %>
  <div>
    <%= form.label :username %>
    <%= form.text_field :username, required: true %>
  </div>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name, required: true %>
  </div>

  <div>
    <%= form.label :email %>
    <%= form.email_field :email, required: true %>
  </div>

  <div>
    <%= form.label :password %>
    <%= form.password_field :password, required: true %>
  </div>

  <div>
    <%= form.label :phone %>
    <%= form.telephone_field :phone %>
  </div>

  <div>
    <%= form.label :address %>
    <%= form.text_area :address %>
  </div>

  <div>
    <%= form.label :credit_card_info %>
    <%= form.text_field :credit_card_info, required: true %>
  </div>

  <div>
    <%= form.submit "Sign Up" %>
  </div>
<% end %>

<%= link_to "Already have an account? Login", login_path %>
